* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #E0E0D2;  
    --cor2: #7E1516;   
    --detalhe: #414A30;  
    --corfonte: #000000; 
    --destaque: #A5CF57;
    --titulos: "Bebas Neue", serif;
}

html, body {
    height: 100%;
    background-color: var(--cor1);
    color: var(--corfonte);
}

main{
    margin: 0 160px 0 200px;
}

header {
    margin-bottom: 25px;
    padding: 10px 0;
    background-color: var(--cor2);
    color: var(--corfonte);
    border-bottom: 1px solid var(--corfonte);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

header img {
    height: 80px;
    border-radius: 50%;
    float: left;
    margin: 0 20px 0 30px;
}

header h1 {
    text-align: left;
    font-size: 33px;
    color: var(--cor1);
    line-height: 100px;
    overflow: hidden;
    font-family: var(--titulos);
}

nav {
    text-align: center;
    font-size: large;
    font-weight: bold ;
    position: absolute;
    right: 30px;
    top: 25px;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--cor1);
    padding: 0 10px;
    margin-top: 20px;
    font-family: var(--titulos);
    font-size: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: var(--destaque);
    transform: scale(1.05);
}

.espaco {
    height: 150px;
}

.cara {
    padding-top: 20px;
    text-align: justify;
}

.cara div {
    padding-top: 150px;
}

.cara h1 {
    font-size: 100px;
    font-family: var(--titulos);
}

.perfil {
    height: 420px;
    width: 420px;
    border-radius: 50%;
    float: left;
    margin-right: 50px;
    object-fit: cover;
}

p {
    font-size: 19px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.botao-link {
    margin-top: 25px;
    margin-right: 25px;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 0 20px 0 20px;
    background-color: var(--destaque);
    color: var(--fontcor);
    border: 2px solid var(--headercolor);
    font-family: var(--titulos);
    font-size: 28px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.botao-link:hover {
    background-color: var(--cor2);
    color: var(--cor1);
    transform: scale(1.05);
    border-color: var(--destaque);
}

.me {
    text-align: justify;
    overflow: hidden;
}

.me p {
    float: left;
    width: 66%;
    margin-top: 5px;
}

.me img {
    float: right;
    width: 40%;
    margin-bottom: -20px;
}

h2 {
    font-family: var(--titulos);
    font-size: 60px;
}

.tex1 {
    max-width: 1000px;
    margin-top: 120px;
}

.card img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

.card {
    display: inline-block;
    background-color: var(--cor2);
    color: var(--cor1);
    border: 1px solid var(--corfonte);
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 15px;
}

.cards {
    margin: 15px 0;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card p {
    font-family: var(--titulos);
    font-size: 24px;
    margin-top: 10px;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: var(--corfonte);
    background-color: var(--cor1);
}

.tabela th, .tabela td {
    padding: 12px 15px;
    border: 1px solid var(--detalhe);
    text-align: left;
}

.tabela th {
    background-color: var(--cor2);
    color: var(--cor1);
    font-family: var(--titulos);
    font-size: 24px;
}

.tabela tr:nth-child(even) {
    background-color: var(--destaque);
}

.tabela tbody tr:hover {
    background-color: var(--cor2);
    opacity: 0.8;
    color: var(--cor1);
    cursor: pointer;
}

footer {
    background-color: var(--cor2);
    color: var(--cor1);
    padding: 20px 0;
    font-family: var(--titulos);
    font-size: 20px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    margin: 0 !important;
}

footer a {
    text-decoration: none;
    color: var(--cor1);
    font-family: var(--titulos);
    font-size: 20px;
    transition: 0.3s;
}

footer a:hover {
    color: var(--destaque);
    transform: scale(1.05);
    font-size: 21px;
}

#contato i {
    color: var(--cor1);
    font-size: 1.6em;
    margin: 10px;
}

#contato i:hover {
    color: var(--segundacor);
}

.foto-direita {
  float: right; 
  width: 350px; 
  height: auto;
  margin-left: 30px; 
  border-radius: 10px;
}
